@font-face {
  font-family: 'Myriad';
  font-weight: 40;
  src: url("./Fonts/myriad-bold.otf");
}
.App {
  text-align: center;
  font-family: 'Myriad';
}

.subtitle {
  padding:25px;
}
.subtitle h2 {
  color: #4a7907;
  margin: auto;
  

}
.subtitle h4 {
  margin: auto;
}

.btnGradient{
  background-image: linear-gradient(to top, #4a7907 , #aef44a);
  width: 300px;
  margin: 5px !important;
  text-align: left !important;
  font-family:'Myriad' !important;
  justify-content: left !important;
}
.btnDelete{
  margin: auto;
  cursor: pointer;
  border: none;
  background: none;

}
.btnDelete p{
  margin: auto;
  color: red;
  font-size: 70%;
}
.btnDelete img{
  margin: auto;
  width: 70%;
}



.adds p{
  margin: auto;
  inline-size: auto;
  display: inline;
  margin: 20px 0px 20px 20px;
}

.inputNumber{
  width: 22%;
  margin: 1px;
}

.btnAzar{
  color: #403a03 !important;
  background-color: #e6df1e !important;
  font-family:'Myriad' !important;
  margin: 10px !important;
}

.btnAdd{
  margin: auto;
  cursor: pointer;
}
.btnAdd p{
  margin: auto;
}
.btnAdd img{
  margin: auto;
  width: 30px;
}

.btnSend{
  background-color: grey;
  margin: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 20px;
  background-color: #e6df1e !important;
  color: #403a03 !important;
  font-family:'Myriad' !important;
  font-size: large;
  border-radius: 4px;
}
.btnSend img{
  margin: 5px;
  width: 30px;
}

.btnSend:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.alert {
  width: 20%;
}

.form {
  width: 80%;

}

.row {
  display: inline !important;
}

.row p {
  display: inline !important;
}

.hidden{
  visibility: hidden;
}




.App {
  text-align: center;
}



:root {
  --morado-btn: #2E244E;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







body {
  overflow-x: hidden;
}











.card-register{
  width: 40%;
  border-radius:0px;
}


html, body, #app, #app>div {
  height: 100%;

}

table {
  border-collapse: collapse !important;
}
th, td {
  padding: 0 !important;
}